@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #007aff;
  --background-color: #f9f9f9;
  --foreground-color: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  color: var(--foreground-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}


header {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* h1 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: #1D1D1F;

} */

button {
  background-color: #F5F5F7;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #F5F5F7;
}
